body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 235, 162);
}

h1 {
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.meus-trabalhos {
  font-size: 60px;
  margin-top: 180px;
  text-align: center;
}

.espaco {
  height: 15px;
}

.trabalhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linha {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trabalho {
  width: calc(50% - 10px);
  height: 1800px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.trabalho h3 {
  font-size: 35px;
}

.trabalho img {
  width: 35%;
  max-height: 1050px;
  object-fit: cover;
}

.trabalho p {
  margin-top: 50px;
  font-size: 24px;
  padding: 20px;
}

header {
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background-color: rgb(249, 226, 119);
}

nav ul {
  display: flex;
  align-items: center;
  background-color: rgb(249, 226, 119);
  padding-left: 35px;
}

nav li {
  display: inline;
  margin-right: 80px;
  background-color: rgb(249, 226, 119);
}

nav a {
  color: black;
  text-decoration: none;
}

.trabalho-duplo {
  width: 100%;
}

.trabalho-medio {
  height: 1400px;
}

.trabalho-menor {
  height: 1100px;
}
